{% extends 'base.html' %}
{% block title %}CareerNest{% endblock %}
{% block content %}

<style>
#intro-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 9999;
}

#main-content {
    display: none;
}
</style>

{% if show_video %}
<video autoplay muted playsinline id="intro-video">
    <source src="{{ url_for('static', filename='video/background_ani.mp4') }}" type="video/mp4">
</video>
{% endif %}

<div id="main-content">
</div>


<script>
const video = document.getElementById("intro-video");
const content = document.getElementById("main-content");

if(video){

    // check if video already played in this browser session
    if(sessionStorage.getItem("introPlayed") === "true"){
        video.style.display = "none";
        content.style.display = "block";
    } 
    else{

        video.style.display = "block";
        content.style.display = "none";

        video.onended = function(){
            video.style.display = "none";
            content.style.display = "block";

            // mark video as played in this session
            sessionStorage.setItem("introPlayed", "true");
        };

        video.onerror = function(){
            video.style.display = "none";
            content.style.display = "block";
            sessionStorage.setItem("introPlayed", "true");
        };
    }

}else{
    content.style.display = "block";
}
</script>


{% endblock %}